---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import Servicios from '../components/Servicios.astro';
import Horario from '../components/Horario.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout 
	title = "Pipas la Queretana"
	description = "Pipas de la mejor calidad para tu hogar solo en Queretaro"
>
	<Header/>

	<main class = "snap-y snap-proximity relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class = "md:snap-center md:snap-always">
			<Inicio/>
		</div>
		<div class = "md:snap-center md:snap-always">
			<Servicios/>
		</div>
		<div class = "snap-center snap-always">
			<Horario/>
		</div>
		<div class = "md:snap-center md:snap-always">
			<Contacto/>
		</div>
	</main>
</Layout>