---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import Servicios from '../components/Servicios.astro';
import Horario from '../components/Horario.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
	title = "Pipas la Queretana | Agua potable a domicilio"
	description = "Las pipas de agua más limpias y puras del estado de Querétaro hasta la puerta de tu casa"
>
	<Header/>

	<main class = "relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<Inicio/>
		<Servicios/>
		<Horario/>
		<Contacto/>
		<Footer/>
	</main>
</Layout>