<section class = "bg-slate-900 h-screen w-screen text-center relative overflow-hidden text-white" id = "contacto">
    <!-- Background -->
    <div class = "absolute top-0 bottom-0 h-full w-full z-[0]">
    </div>

    <!-- Titulo -->
    <div class=" relative z-[1]">
        <h1 class="pt-52 text-5xl font-bold ">Contacto</h1>
    </div>
    
<section/>