<header class = "grid grid-cols-[repeat(3,1fr)] grid-rows-[repeat(2,auto)] items-center fixed w-full top-0 text-white py-[2vh] bg-[#0097B2] z-[2]">
    <!-- Logo -->
    <div class = "col-span-1">
        <img
            class = "h-10"
            src = "Logo.webp"
            alt = "Logo"
        />
    </div>
    
    <!-- Menu de navegacion -->
    <nav class = "md:block hidden col-span-1 mx-[2vw]">
        <ul class = "flex flex-row items-center justify-evenly gap-[2vw] text-center 
        [&>li>a]:flex [&>li>a]:h-[5vh] [&>li>a]:items-center [&>li>a]:justify-center [&>li>a]:text-xl [&>li>a]:bg-white [&>li>a]:bg-opacity-15 [&>li>a]:w-[13vw] [&>li>a]:rounded-xl [&>li>a]:transition-colors [&>li>a]:duration-500">
            <li><a href = "#inicio" class="hover:bg-white hover:text-black" >Inicio</a></li>
            <li><a href = "#servicios" class="hover:bg-white hover:text-black" >Servicios</a></li>
            <li><a href = "#horario" class="hover:bg-white hover:text-black" >Horario</a></li>
            <li><a href = "#contacto" class="hover:bg-white hover:text-black" >Contacto</a></li>
        </ul>
    </nav>

    <!-- Boton de menu celular -->
    <a href = "#navbar" class="md:hidden inline-flex h-full justify-center items-center row-start-1 col-start-3"><i class="fa-solid fa-bars text-2xl"></i><a/>

    <!-- Redes Sociales -->
    <nav class = "row-start-1 md:col-start-3 col-start-2 flex justify-center mx-[1.5vw]">
        <ul class="flex gap-[1.5vw] 
        [&>li>a]:inline-flex [&>li>a]:items-center [&>li>a]:justify-center [&>li>a]:h-[5vh] [&>li>a]:w-[5vh] [&>li>a]:rounded-full [&>li>a]:transition [&>li>a]:duration-300">
            <li>
                <a target = "_blank" href="https://www.facebook.com/" class="hover:bg-[#1877f2] hover:scale-110">
                    <i class="fab fa-facebook text-[3vh]"></i>
                </a>
            </li>
            <li>
                <a target = "_blank" href="https://www.instagram.com/" class="hover:bg-gradient-to-r from-[#833ab4] to-[#fd1d1d] hover:scale-110">
                    <i class="fab fa-instagram text-[3vh]"></i>
                </a>
            </li>
            <li>
                <a target = "_blank" href="https://www.tiktok.com/" class="hover:bg-black hover:scale-110">
                    <i class="fab fa-tiktok text-[3vh]"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>

<!-- Menu de navegacion celular-->
<nav class = "fixed target:opacity-100 opacity-0 target:bottom-[0] bottom-[100vh] flex flex-col h-screen w-screen bg-black bg-opacity-80 transition-opacity duration-500 z-[3]" id = "navbar">
    <ul class = "flex flex-col h-full items-center justify-center text-white gap-[5vh] 
    [&>il>a]:inline-flex [&>il>a]:w-screen [&>il>a]:py-[3vh] [&>il>a]:text-4xl [&>il>a]:rounded-xl [&>il>a]:justify-center">
        <il><a href = "#inicio">Inicio</a></il>
        <il><a href = "#servicios">Servicios</a></il>
        <il><a href = "#horario">Horario</a></il>
        <il><a href = "#contacto">Contacto</a></il>
    </ul>
</nav>

<!-- Botones de comunicacion -->
<nav class="fixed right-[4vh] bottom-[4vh] z-[2] text-white">
    <ul class="flex flex-col gap-[3vh] [&>li>a]:inline-flex 
        [&>li>a]:items-center [&>li>a]:justify-center [&>li>a]:h-[6vh] [&>li>a]:w-[6vh] [&>li>a]:bg-[#FF1964] [&>li>a]:rounded-full [&>li>a]:shadow-md [&>li>a]:transition [&>li>a]:duration-300">
        <li>
            <a target = "_blank" href="tel:4426563791" class="hover:bg-blue-500 hover:scale-110">
                <i class="fas fa-phone text-[3vh]"></i>
            </a>
        </li>
        <li>
          <a target = "_blank" href="https://wa.me/qr/C63B22LE2DCFP1" class="hover:bg-[#25D366] hover:scale-110">
            <i class="fab fa-whatsapp text-[4vh]"></i>
          </a>
        </li>
    </ul>
</nav>