<header class = "flex items-center fixed w-full py-2 top-0 text-white z-[2] backdrop-blur-md ">
    <div class = "flex flex-grow justify-center basis-0">
        <img 
            class = "h-14"
            src="Logo.webp" 
            alt = "Logo"
        />
    </div>

    <!-- Menus de navegacion -->
    <nav>
        <ul class="flex gap-x-20 [&>il>a]:inline-block [&>il>a]:w-32 [&>il>a]:text-lg [&>il>a]:rounded-xl [&>il>a]:p-1 [&>il>a]:text-center [&>il>a]:transition-colors [&>il>a]:duration-500">
            <il><a href = "#inicio" class="hover:bg-white hover:text-black" >Inicio</a></il>
            <il><a href = "#servicios" class="hover:bg-white hover:text-black" >Servicios</a></il>
            <il><a href = "#" class="hover:bg-white hover:text-black" >Horario</a></il>
            <il><a href = "#" class="hover:bg-white hover:text-black" >Contacto</a></il>
        </ul>
    </nav>
    
    <!-- Redes Sociales -->
    <nav class = " flex flex-grow justify-center basis-0">
        <ul class="flex gap-4">
            <il><a href="#">Instagram</a></il>
            <il><a href="">Tiktok</a></il>
        </ul>
    </nav>
</header>