<section class = "relative w-full h-[50vh] bg-slate-900" id = "horario">
    
    <div class = "absolute top-0 bottom-0 h-full w-full z-[0]">
        <video 
            class = " object-center object-cover h-full w-full brightness-75"
            autoplay
            muted
            loop
            src="BGInicio.mp4" 
        />
    </div>

    <div class="z-[1] absolute inset-0 m-auto text-white">
        <h1 class="text-5xl font-bold text-center">Horario</h1>
    </div>
</section>