<section class = "h-screen w-screen text-center relative overflow-hidden text-white" id = "horario">
    
    <div class = "absolute inset-0 h-full w-full z-[0]">
        <img 
            src="FotoPipafrontal.jpg"
            class = "object-center object-cover h-full w-full brightness-50"
            alt = "Fotografia Pipa"
        />
    </div>

    <!-- Contenido -->
    <div class="absolute inset-0 h-full w-full flex flex-col justify-center items-center gap-[8vh] z-[1]">
        <h1 class = "inline-block text-[8vh] font-bold w-auto">Horario</h1>
        <p class = "inline-block text-[5vh] font-bold w-auto">ยก A tu servicio todos los dias de la semana !</p>
        <p class = "inline-block text-[5vh] font-bold w-auto">7:00AM - 8:00PM</p>
    </div>
    
<section/>