<section class = " h-screen w-screen text-center relative overflow-hidden text-white" id = "inicio">
    <!-- Background -->
    <div class = "absolute inset-0 h-full w-full z-[0]">
        <video 
            class = "object-center object-cover h-full w-full"
            autoplay
            muted 
            loop 
            src="VideoPipa1.mp4" 
        />
    </div>

    <!-- Contenido -->
    <div class="absolute inset-0 h-full w-full flex flex-col justify-evenly items-center z-[1]">
        <header>
            <img src="LogoCompleto.webp" class=" object-contain w-[clamp(26rem,80vw,75rem)] drop-shadow-[0_25px_25px_rgb(0_0_0_/_0.45)]"/>
            <p class = "text-[clamp(1.25rem,3vw,2rem)] text-white hover:scale-110 transition-transform duration-300">"El agua de los Queretanos"</p>
        </header>
        <footer>
            <p class = "text-[clamp(1.5rem,3vw,2rem)]">Pipas de agua potable</p>
            <a href = "tel:4421463736" class ="flex flex-col w-auto mt-[5vh] py-[1vh] px-[6vw] hover:scale-110 bg-[#0097B2] rounded-full transition duration-500">
                <p class="text-[clamp(1.5rem,3vw,2rem)]">¡Llamar ahora!</p>
                <p class="text-[clamp(1rem,1.5vw,1.25rem)]">442 146 3736</p>
            </a>
        </footer>
    </div>
    <section/>