<section class = " h-screen w-screen text-center relative overflow-hidden text-white" id = "inicio">
    <!-- Background -->
    <div class = "absolute top-0 bottom-0 h-full w-full z-[0]">
        <video 
            class = "object-center object-cover h-full w-full brightness-50"
            autoplay
            muted 
            loop 
            src="VideoPipa1.mp4" 
        />
    </div>

    <!-- Contenido -->
    <div class="absolute inset-0 h-full w-full flex flex-col justify-evenly items-center z-[1]">
        <header>
            <h1 class = "text-[clamp(3rem,11.5vw,9rem)] font-bold text-[#FF1964]">La Queretana</h1>
            <p class = "text-[clamp(1rem,3vw,2rem)] skew-x-6">"El agua de los Queretanos"</p>
        </header>
        <footer>
            <p class = "text-[clamp(1.5rem,3vw,2rem)]">Pipas de agua potable</p>
            <a href = "tel:4421234567" class ="flex flex-col w-auto mt-[5vh] py-[1vh] px-[6vw] hover:scale-110 bg-[#0097B2] rounded-full transition duration-500">
                <p class="text-[clamp(1.5rem,3vw,2rem)]">¡Llamar ahora!</p>
                <p class="text-[clamp(1rem,1.5vw,1.25rem)]">4421234567</p>
            </a>
        </footer>
    </div>
    <section/>