<section class = " bg-blue-100 h-screen w-screen text-center relative overflow-hidden" id = "servicios">
    <!-- Background -->
    <div class = "absolute h-[80%] -right-[10%] -top-[5%] z-[0]">
        <img src="Lele.png" alt="Muñeca Lele" class="opacity-10 object-contain h-full">
    </div>

    <!-- Contenido -->
    <article class="absolute inset-0 h-full w-full xl:p-[5vw] p-[5vh] pt-[8vh] flex xl:flex-row flex-col justify-evenly z-[1]">
        <div class="flex flex-col justify-evenly text-justify items-stretch xl:w-1/2 xl:h-auto h-1/2
        [&>p]:text-[clamp(1rem,2.8vw,2.5rem)] [&>p]:text-[#0097B2] overflow-hidden">
            <h1 class = "text-[clamp(1.5rem,4vw,4.5rem)] text-[#FF1964]">Servicios</h1>
            <p>En la Queretana nos aseguramos de brindarte justo “El servicio que mereces” sin importar el día.</p>
            <p>¡Estamos a tu servicio los 365 días del año!</p>
            <p>Abastecemos tinacos, cisternas y albercas. Servicio a domicilios particulares y riego de jardines y áreas verdes.</p>
            <p><strong>¡Nos adaptamos a tus necesidades!</strong></p>
        </div>
        <div class = "flex flex-col justify-center xl:w-1/2 xl:h-auto h-1/2 p-5 overflow-hidden">
            <h1 class = "text-[clamp(1.5rem,3vw,2rem)] text-[#FF1964]">Pipas 5,000 Lt</h1>
            <img src="FotoPipatrasera.png" alt="Fotografia trasera de pipa" class="brightness-125 xl:h-[70%] h-full object-contain">
        </div>
    </article>
    
<section/>